<!-- footer section -->
<footer class="footer_section">
    <div class="container">
      <div class="row">
        <div class="col-md-4 footer-col">
          <div class="footer_contact">
            <h4>
              Contacto
            </h4>
            <div class="contact_link_box">
              <a href="https://maps.app.goo.gl/4Du96RawCDHY4cqo6" target="_blank">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Ubicación
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                    931679796
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  epomsushibar&#64;gmail.com
                </span>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <div class="footer_detail">
            <a href="" class="footer-logo">
              Redes Sociales
            </a>
            <!-- <p>
              Necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with
            </p> -->
            <div class="footer_social">
              <a href="https://www.facebook.com/p/Epom-Sushi-100064317933661/" target="_blank">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/epomsushibar/" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 footer-col">
          <h4>
            Horario de Atención
          </h4>
          <p>
            Martes - Domingo
          </p>
          <p>
            11.00 Am -11.00 Pm
          </p>
        </div>
      </div>
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> Desarrollado por Robert Diaz
          <a href="https://html.design/"></a><br><br>
          &copy; <span id="displayYear">Para el examen final de desarrollo avanzado de aplicaciones II</span>
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->
