<!-- slider section -->
<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    Makis y Sushis
                                </h1>
                                <p>
                                    Disfruta de la mejor comida japonesa en nuestro restaurante. Contamos con una amplia carta de makis y sushis para que puedas disfrutar de la mejor comida japonesa.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Carta
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    Deliciosas bebidas
                                </h1>
                                <p>
                                    Acompaña tus comidas con nuestras deliciosas bebidas. Contamos con gaseosas, cervezas, vinos y licores para que puedas disfrutar de la mejor comida japonesa.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Carta
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    Delivery a todo el distrito de San Juan de Lurigancho
                                </h1>
                                <p>
                                    Pide con nosotros y disfruta de la mejor comida japonesa en la comodidad de tu hogar. Contamos con delivery a todo el distrito de San Juan de Lurigancho.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Carta
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <ol class="carousel-indicators">
                <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#customCarousel1" data-slide-to="1"></li>
                <li data-target="#customCarousel1" data-slide-to="2"></li>
            </ol>
        </div>
    </div>

</section>
<!-- end slider section -->