<!-- food section -->

<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                <br>
                Nuestra Carta
            </h2>
        </div>

        <div class="filters-content">
            <div class="row grid">
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="/assets/images/acevichado.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Acevichado
                                </h5>
                                <p>
                                    PALTA,QUESO CREMA, LANGOSTINOS CUBIERTO DE LA PESCA DEL DIA
                                </p>
                                <div class="options">
                                    <h6>
                                        24 S/.
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="/assets/images/tempura.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Tempura
                                </h5>
                                <p>
                                    PALTA,QUESO CREMA, PESCADO DEL DIA CUBIERTO DE NORI ( MAKI FRITO )
                                </p>
                                <div class="options">
                                    <h6>
                                        26 S/.
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="/assets/images/crispyAce.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Crispy Acevichado
                                </h5>
                                <p>
                                    PALTA,QUESO CREMA, LANGOSTINOS, EMPANIZADO, BAÑADO EN SALSA CRIOLLA
                                </p>
                                <div class="options">
                                    <h6>
                                        26 S/.
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pasta">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="/assets/images/reddragon.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Red Dragon Roll
                                </h5>
                                <p>
                                    PALTA,QUESO CREMA, LANGOSTINOS CUBIERTO DE LA PESCA
                                    DEL DIA CON SALSA ESPECIAL DE AJI PICANTE
                                </p>
                                <div class="options">
                                    <h6>
                                        25 S/.
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all fries">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="/assets/images/bananaRoll.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Banana Roll
                                </h5>
                                <p>
                                    PALTA,QUESO CREMA, LANGOSTINOS CUBIERTO DE PLATANO FRITO
                                </p>
                                <div class="options">
                                    <h6>
                                        24 S/.
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="/assets/images/california.jpg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    California Roll
                                </h5>
                                <p>
                                    PALTA,QUESO CREMA, LANGOSTINOS CUBIERTO DE SESAMO
                                </p>
                                <div class="options">
                                    <h6>
                                        22 S/.
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end food section -->