<!-- about section -->

<section class="about_section layout_padding">
    <div class="container  ">

      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="/assets/images/logoEpom.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                Somos Epom Sushi Bar
              </h2>
            </div>
            <p>
              Nacimos como un pequeño empredimiento en el año 2022, con la finalidad de brindar la mejor comida japonesa a nuestros clientes. Contamos con una amplia carta de platos, bebidas y postres para que puedas disfrutar de la mejor comida japonesa en la comodidad de tu hogar.
            </p>
            <a href="">
              Sobre Nosotros
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->
